.wpcf7 .screen-reader-response {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  word-wrap: normal !important;
}

.wpcf7 form .wpcf7-response-output {
  margin: 2em 0.5em 1em;
  padding: 0.2em 1em;
  border: 2px solid #00a0d2; /* Blue */
}

.wpcf7 form.init .wpcf7-response-output,
.wpcf7 form.resetting .wpcf7-response-output,
.wpcf7 form.submitting .wpcf7-response-output {
  display: none;
}

.wpcf7 form.sent .wpcf7-response-output {
  border-color: #46b450; /* Green */
}

.wpcf7 form.failed .wpcf7-response-output,
.wpcf7 form.aborted .wpcf7-response-output {
  border-color: #dc3232; /* Red */
}

.wpcf7 form.spam .wpcf7-response-output {
  border-color: #f56e28; /* Orange */
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
  border-color: #ffb900; /* Yellow */
}

.wpcf7-form-control-wrap {
  position: relative;
}

.wpcf7-not-valid-tip {
  color: #dc3232; /* Red */
  font-size: 1em;
  font-weight: normal;
  display: block;
}

.use-floating-validation-tip .wpcf7-not-valid-tip {
  position: relative;
  top: -2ex;
  left: 1em;
  z-index: 100;
  border: 1px solid #dc3232;
  background: #fff;
  padding: 0.2em 0.8em;
  width: 24em;
}

.wpcf7-list-item {
  display: inline-block;
  margin: 0 0 0 1em;
}

.wpcf7-list-item-label::before,
.wpcf7-list-item-label::after {
  content: " ";
}

.wpcf7-spinner {
  visibility: hidden;
  display: inline-block;
  background-color: #23282d; /* Dark Gray 800 */
  opacity: 0.75;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 100%;
  padding: 0;
  margin: 0 24px;
  position: relative;
}

form.submitting .wpcf7-spinner {
  visibility: visible;
}

.wpcf7-spinner::before {
  content: "";
  position: absolute;
  background-color: #fbfbfc; /* Light Gray 100 */
  top: 4px;
  left: 4px;
  width: 6px;
  height: 6px;
  border: none;
  border-radius: 100%;
  transform-origin: 8px 8px;
  animation-name: spin;
  animation-duration: 1000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@media (prefers-reduced-motion: reduce) {
  .wpcf7-spinner::before {
    animation-name: blink;
    animation-duration: 2000ms;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes blink {
  from {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.wpcf7 [inert] {
  opacity: 0.5;
}

.wpcf7 input[type="file"] {
  cursor: pointer;
}

.wpcf7 input[type="file"]:disabled {
  cursor: default;
}

.wpcf7 .wpcf7-submit:disabled {
  cursor: not-allowed;
}

.wpcf7 input[type="url"],
.wpcf7 input[type="email"],
.wpcf7 input[type="tel"] {
  direction: ltr;
}

.wpcf7-reflection > output {
  display: list-item;
  list-style: none;
}

.wpcf7-reflection > output[hidden] {
  display: none;
}

body,
input,
textarea {
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho",
    "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E",
    "ＭＳ Ｐ明朝", "MS PMincho", serif;
}

.gothic_font {
  font-family: "Hiragino Sans", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN",
    "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif !important;
}

.rich_font,
.p-vertical {
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho",
    "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E",
    "ＭＳ Ｐ明朝", "MS PMincho", serif;
  font-weight: 500;
}

.widget_headline {
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho",
    "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E",
    "ＭＳ Ｐ明朝", "MS PMincho", serif;
  font-weight: 500;
}

.button_font {
  font-family: "Hiragino Sans", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN",
    "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
  font-weight: 500;
}

.rich_font_type1 {
  font-family: Arial, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN",
    "メイリオ", Meiryo, sans-serif;
}

.rich_font_type2 {
  font-family: "Hiragino Sans", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN",
    "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
  font-weight: 500;
}

.rich_font_type3 {
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho",
    "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E",
    "ＭＳ Ｐ明朝", "MS PMincho", serif;
  font-weight: 500;
}

#site_desc {
  font-size: 14px;
}

@media screen and (max-width: 750px) {
  #site_desc {
    font-size: 11px;
  }
}

#global_menu {
  background: #1c6b89;
}

#global_menu > ul {
  border-color: #427689;
}

#global_menu > ul > li {
  border-color: #427689;
}

#global_menu > ul > li > a {
  color: #ffffff;
}

#global_menu > ul > li > a:hover,
#global_menu > ul > li.megamenu_parent.active_button > a {
  color: #bfa898;
}

#global_menu ul ul {
  font-family: "Hiragino Sans", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN",
    "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif !important;
}

#global_menu ul ul a {
  color: #ffffff;
  background: #427689;
}

#global_menu ul ul a:hover {
  background: #dd9933;
}

#global_menu ul ul li.menu-item-has-children > a:before {
  color: #ffffff;
}

#drawer_menu {
  background: #427689;
}

#mobile_menu a {
  color: #ffffff;
  background: #427689;
  border-bottom: 1px solid #444444;
}

#mobile_menu li li a {
  color: #ffffff;
  background: #1c6b89;
}

#mobile_menu a:hover,
#drawer_menu .close_button:hover,
#mobile_menu .child_menu_button:hover {
  color: #ffffff;
  background: #ff7f00;
}

#mobile_menu li li a:hover {
  color: #ffffff;
}

.megamenu_menu_list {
  background: rgba(0, 0, 0, 0.5);
}

.megamenu_menu_list .title_area {
  background: rgba(52, 30, 9, 0.5);
}

.megamenu_menu_list .title {
  font-size: 26px;
}

.megamenu_menu_list .title span {
  font-size: 16px;
}

.megamenu_blog_list {
  background: rgba(0, 0, 0, 0.5);
}

.megamenu_blog_list .post_list .title_area {
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.megamenu_blog_list .post_list .title {
  font-size: 14px;
}

.megamenu_blog_list .menu_area a:hover,
.megamenu_blog_list .menu_area li.active a {
  color: #bfa898;
}

#bread_crumb {
  background: rgba(255, 255, 255, 0.2);
}

#footer_banner .title {
  font-size: 22px;
  color: #ffffff;
  background: rgba(52, 30, 9, 0.5);
}

@media screen and (max-width: 750px) {
  #footer_banner .title {
    font-size: 20px;
  }
}

#index_slider .item1 .catch {
  font-size: 38px;
  color: #ffffff;
}

#index_slider .item1 .desc {
  font-size: 28px;
  color: #ffffff;
}

@media screen and (max-width: 950px) {
  #index_slider .item1 .catch {
    font-size: 22px;
  }

  #index_slider .item1 .desc {
    font-size: 14px;
  }
}

#index_slider .item1 .overlay {
  background: rgba(0, 0, 0, 0.3);
}

#index_slider .item2 .catch {
  font-size: 38px;
  color: #ffffff;
}

#index_slider .item2 .desc {
  font-size: 16px;
  color: #ffffff;
}

@media screen and (max-width: 950px) {
  #index_slider .item2 .catch {
    font-size: 22px;
  }

  #index_slider .item2 .desc {
    font-size: 14px;
  }
}

#index_slider .item3 .catch {
  font-size: 38px;
  color: #ffffff;
}

#index_slider .item3 .desc {
  font-size: 16px;
  color: #ffffff;
}

@media screen and (max-width: 950px) {
  #index_slider .item3 .catch {
    font-size: 22px;
  }

  #index_slider .item3 .desc {
    font-size: 14px;
  }
}

#index_box_content .title {
  font-size: 22px;
  color: #ffffff;
  background: rgba(52, 30, 9, 0.5);
}

#index_box_content .desc {
  font-size: 16px;
}

@media screen and (max-width: 750px) {
  #index_box_content .title {
    font-size: 20px;
  }

  #index_box_content .desc {
    font-size: 14px;
  }
}

.index_design_content2.num1 .catch {
  font-size: 38px;
  color: #58330d;
}

.index_design_content2.num1 .desc {
  font-size: 16px;
}

.index_design_content2.num1 .banner_content a {
  color: #ffffff;
}

.index_design_content2.num1 .banner_headline {
  font-size: 38px;
}

.index_design_content2.num1 .banner_headline span {
  font-size: 28px;
}

.index_design_content2.num1 .banner_desc {
  font-size: 28px;
}

@media screen and (max-width: 750px) {
  .index_design_content2.num1 .catch {
    font-size: 22px;
  }

  .index_design_content2.num1 .desc {
    font-size: 14px;
  }

  .index_design_content2.num1 .banner_headline {
    font-size: 22px;
  }

  .index_design_content2.num1 .banner_headline span {
    font-size: 12px;
  }

  .index_design_content2.num1 .banner_desc {
    font-size: 14px;
  }
}

.author_profile a.avatar img,
.animate_image img,
.animate_background .image,
#recipe_archive .blur_image {
  width: 100%;
  height: auto;
  -webkit-transition: transform 0.75s ease;
  transition: transform 0.75s ease;
}

.author_profile a.avatar:hover img,
.animate_image:hover img,
.animate_background:hover .image,
#recipe_archive a:hover .blur_image {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

a {
  color: #000;
}

#header_logo a,
#footer_logo a,
#comment_headline,
.tcd_category_list a:hover,
.tcd_category_list .child_menu_button:hover,
#post_title_area .post_meta a:hover,
#news_list a:hover .date,
.index_blog .blog_list .post_meta li a:hover,
.cardlink_title a:hover,
#related_post .item a:hover,
.comment a:hover,
.comment_form_wrapper a:hover,
.author_profile a:hover,
.author_profile .author_link li a:hover:before,
#post_meta_bottom a:hover,
#searchform .submit_button:hover:before,
.styled_post_list1 a:hover .title_area,
.styled_post_list1 a:hover .date,
.p-dropdown__title:hover:after,
.p-dropdown__list li a:hover,
#menu_button:hover:before {
  color: #1c6b89;
}

#submit_comment:hover,
#cancel_comment_reply a:hover,
#wp-calendar #prev a:hover,
#wp-calendar #next a:hover,
#wp-calendar td a:hover,
#p_readmore .button,
.page_navi span.current,
.page_navi a:hover,
#post_pagination p,
#post_pagination a:hover,
.c-pw__btn:hover,
#post_pagination a:hover,
.q_styled_ol li:before,
.widget_tag_cloud .tagcloud a:hover {
  background-color: #1c6b89;
}

#header,
#comment_textarea textarea:focus,
.c-pw__box-input:focus,
.page_navi span.current,
.page_navi a:hover,
#post_pagination p,
#post_pagination a:hover {
  border-color: #1c6b89;
}

a:hover,
#header_logo a:hover,
#footer_logo a:hover,
#bread_crumb a:hover,
#bread_crumb li.home a:hover:before,
#next_prev_post a:hover,
#next_prev_post a:hover:before,
#schedule_list_headline_pc a:hover:before,
#staff_single_header li a:hover:before,
#header_social_link li a:hover:before,
.blog_list .post_meta li a:hover {
  color: #999999;
}

#p_readmore .button:hover {
  background-color: #999999;
}

.post_content a,
.custom-html-widget a {
  color: #0093c5;
}

.post_content a:hover,
.custom-html-widget a:hover {
  color: #999999;
}

body {
  background: #f4f0ec;
}

.styled_h2 {
  font-size: 22px !important;
  text-align: left;
  color: #000000;
  border-top: 1px solid #222222;
  border-bottom: 1px solid #222222;
  border-left: 0px solid #222222;
  border-right: 0px solid #222222;
  padding: 30px 0px 30px 0px !important;
  margin: 0px 0px 30px !important;
}

.styled_h3 {
  font-size: 20px !important;
  text-align: left;
  color: #000000;
  border-top: 2px solid #222222;
  border-bottom: 1px solid #dddddd;
  border-left: 0px solid #dddddd;
  border-right: 0px solid #dddddd;
  padding: 30px 0px 30px 20px !important;
  margin: 0px 0px 30px !important;
}

.styled_h4 {
  font-size: 18px !important;
  text-align: left;
  color: #000000;
  border-top: 0px solid #dddddd;
  border-bottom: 0px solid #dddddd;
  border-left: 2px solid #222222;
  border-right: 0px solid #dddddd;
  padding: 10px 0px 10px 15px !important;
  margin: 0px 0px 30px !important;
}

.styled_h5 {
  font-size: 16px !important;
  text-align: left;
  color: #000000;
  border-top: 0px solid #dddddd;
  border-bottom: 0px solid #dddddd;
  border-left: 0px solid #dddddd;
  border-right: 0px solid #dddddd;
  padding: 15px 15px 15px 15px !important;
  margin: 0px 0px 30px !important;
}

.q_custom_button1 {
  background: #535353;
  color: #ffffff !important;
  border-color: #535353 !important;
}

.q_custom_button1:hover,
.q_custom_button1:focus {
  background: #7d7d7d;
  color: #ffffff !important;
  border-color: #7d7d7d !important;
}

.q_custom_button2 {
  background: #535353;
  color: #ffffff !important;
  border-color: #535353 !important;
}

.q_custom_button2:hover,
.q_custom_button2:focus {
  background: #7d7d7d;
  color: #ffffff !important;
  border-color: #7d7d7d !important;
}

.q_custom_button3 {
  background: #535353;
  color: #ffffff !important;
  border-color: #535353 !important;
}

.q_custom_button3:hover,
.q_custom_button3:focus {
  background: #7d7d7d;
  color: #ffffff !important;
  border-color: #7d7d7d !important;
}

.speech_balloon_left1 .speach_balloon_text {
  background-color: #ffdfdf;
  border-color: #ffdfdf;
  color: #000000;
}

.speech_balloon_left1 .speach_balloon_text::before {
  border-right-color: #ffdfdf;
}

.speech_balloon_left1 .speach_balloon_text::after {
  border-right-color: #ffdfdf;
}

.speech_balloon_left2 .speach_balloon_text {
  background-color: #ffffff;
  border-color: #ff5353;
  color: #000000;
}

.speech_balloon_left2 .speach_balloon_text::before {
  border-right-color: #ff5353;
}

.speech_balloon_left2 .speach_balloon_text::after {
  border-right-color: #ffffff;
}

.speech_balloon_right1 .speach_balloon_text {
  background-color: #ccf4ff;
  border-color: #ccf4ff;
  color: #000000;
}

.speech_balloon_right1 .speach_balloon_text::before {
  border-left-color: #ccf4ff;
}

.speech_balloon_right1 .speach_balloon_text::after {
  border-left-color: #ccf4ff;
}

.speech_balloon_right2 .speach_balloon_text {
  background-color: #ffffff;
  border-color: #0789b5;
  color: #000000;
}

.speech_balloon_right2 .speach_balloon_text::before {
  border-left-color: #0789b5;
}

.speech_balloon_right2 .speach_balloon_text::after {
  border-left-color: #ffffff;
}
